<nav class="navbar navbar-inverse bg-dark py-2" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="navbar">
        <li class="active">
          <a th:href="@{/home}" class="btn btn-outline-light" th:text="#{home}"></a>
            <a th:href="@{/add}" class="btn btn-outline-light">Add New</a>
        </li>
        <li>
          
        </li>
       
        <li>
          <a th:href="@{/category/show}" class="btn btn-outline-light"> Category</a>
          <a id="href_kh" th:href="@{'/translate?lang=kh'}" class="btn btn-outline-light">KH</a>
          <a id="href_en" th:href="@{/translate(lang='en')}" class="btn btn-outline-light">EN</a>      
     
        </li>
      <ul class="nav navbar-nav" style="display:inline-block">
        <!-- <li class="active"><a th:href="@{/home}" class="btn btn-primary">Home</a></li>
        <li><a th:href="@{/add}" class="btn btn-primary">Add New</a></li> -->
    </ul>
  </nav>
  

  <footer class="container-fluid bg-4 text-center mt-3" th:fragment="footer" style="
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
  ">
    <p>Theme Made By Developer <a href="https://www.facebook.com">www.developer.com</a></p> 
  </footer>