
<nav class="navbar navbar-inverse bg-white py-2" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="navbar">
  <style>
      .btn-metneak{
        color: #fff;
        background-color: #ffbb33;
      }
      li {
        list-style-type: none;
      }
    </style>  
      <li class="active">
          <a th:href="@{/home}" class="btn btn-metneak" th:text="#{home}"></a>
            <a th:href="@{/add}" class="btn btn-metneak">Add New</a>
        </li>
        <li>
          
        </li>
       
        <li>
          <a th:href="@{/category/show}" class="btn btn-metneak"> Category</a>
          <a id="href_kh" th:href="@{'/translate?lang=kh'}" class="btn btn-metneak">KH</a>
          <a id="href_en" th:href="@{/translate(lang='en')}" class="btn btn-metneak">EN</a>      
     
        </li>
     
  </nav>
  

  <footer class="container-fluid bg-4 text-center mt-3" th:fragment="footer" style="
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
  ">
    <p>Theme Made By Developer <a href="https://www.facebook.com">www.developer.com</a></p> 
  </footer>