<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!-- 'resources/img/'+*{thumbnail} -->
    <!-- <div layout:fragment="content"> -->
        <div class="card" style="width:400px" th:object="${ARTICLE}">
                <img class="card-img-top" th:href="@{../resources/img/hehe.png}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title" th:text="*{id}"></h4>
                    <p class="card-text" th:text="*{title}"></p>
                    <a href="#" class="btn btn-primary" th:text="*{description}">See Profile</a>
                </div>
        </div>

    <!-- </div> -->


    <!-- <div layout:fragment="content">
                 
        <div id ="testing"  th:object="${ARTICLE}">
           
            <!-- <h5 th:text="${i}"></h5> 
                <h5 th:text="'ID :'+*{id}"></h5>
                <br>
                <h5 th:text="'TITLE : ' + *{title}"></h5>
                <br>
                <h5 th:text="'AUTHOR : ' + *{author}"></h5>
                <br>
                <h5 th:text="' DESCRIPTION : ' + *{description}"></h5>
                <br>
                <img th:src="'resources/img/'+*{thumbnail}" alt="" width="150px" height="80px">
                <img th:src="@{resources/img/hehe.png}" alt="" width="150px" height="80px">
            
        </div>
      
    </div> -->
</body>
</html>