<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       
    <div layout:fragment="content">
  
            <div class="container" >
            <form th:action="@{${ARTICLE.id>0}?  '/edit/author' :'/add'  }" th:method="@{'POST'}"  class="form-group" th:object="${ARTICLE}" enctype="multipart/form-data">
                <!-- '/edit/author(id = '+${INDEX}+')' --> 
                <div class="form-group">
                    <input type="text" th:field="*{id}" style="display:none;">
                    <input type="text" th:field="*{thumbnail}" style="display:none;">
                    <label for="">TITLE</label><label th:if="${#fields.hasErrors('title')}"> hahahha</label>
                    <input type="text" class="form-control" th:field="*{title}">
                </div>
                <div class="form-group" th:if="${CATEGORIES.size()} > 0">
                        <label for="">CATEGORY</label>
                        
                        <select class="form-control" th:field="*{category.id}"> 
                            <!-- th:field="*{id}"  -->
                            <option th:each="CATEGORY : ${CATEGORIES}" th:value="${CATEGORY.id}" th:text="${CATEGORY.name}"></option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="">AUTHOR</label><span th:if="${#fields.hasErrors('author')}"> hahahha</span>
                    <input type="text"  class="form-control" th:field="*{author}">
                </div>
                <div class="form-group">
                    <label for="">DESCRITION</label>
                    <input type="text"  class="form-control"  th:field="*{description}">
                </div>
                <input type="file" name="files" multiple="multiple">
                <!-- <input type="submit" value="Upload" /> -->
        
                <input class="btn btn-primary" type="submit" th:value="#{article.submit}">
            </form>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>